<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OGP管理平台</title>

    <!-- Bootstrap -->
    <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/dashboard.css')}}" rel="stylesheet">
    {%block third_css%}{%endblock%}
</head>
<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">OGP管理平台</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li role="presentation" class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                {{session.get("username", "UNKNOWN")}} <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li role="presentation"><a href="/logout.html"><i class="glyphicon glyphicon-log-out"></i>注销</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li {% if resource_class=="overview" %} class="active" {% endif %}><a href="/">概览</a></li>
            <li {% if resource_class=="pubmgr" %} class="active" {% endif %}><a href="/pubmgr.html">发布管理</a></li>
            <li {% if resource_class=="appsinfo" %} class="active" {% endif %}><a href="/appsinfo.html">应用信息</a></li>
            <li {% if resource_class=="agentsinfo" %} class="active" {% endif %}><a href="/agentsinfo.html">代理信息</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">{%block title%}概览{%endblock%}</h1>

          {%block content%}{%endblock%}

        </div>
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{url_for('static', filename='js/jquery-1.12.4.min.js')}}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>

    <script type="text/javascript">
        if (!Array.prototype.forEach)
        {
            Array.prototype.forEach = function(fun /*, thisp*/)
            {
                var len = this.length;
                if (typeof fun != "function")
                    throw new TypeError();

                var thisp = arguments[1];
                for (var i = 0; i < len; i++)
                {
                    if (i in this)
                        fun.call(thisp, this[i], i, this);
                }
            };
        }

      {%block js%} {%endblock%}
    </script>
    {%block third_js%}{%endblock%}

</body>
</html>